<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boba Time!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header>
        <h1>Bo-Bo Tea</h1>
        <!-- <ul class="nav">
            <li><a href="/menu">Menu</a></li>
            <li><a href="/rewards">Rewards</a></li>
            <li><a href="/signup">Sign-Up</a></li> -->
        <!-- </ul>  -->
    </header>

    <main class="mainOpening">
        

        <section class="mainTag">
            <h2>Treat yourself! 
            <br>Boba for you and 
            <br>a friend!</h2>
        </section>

        <section class="frontLogin">
            <span>Don't have an account? <a href="/signup">Sign-up Here</a></span>
            <h3>Log-in</h3>
            <form action="/login" method="POST" class="formLogin main">

                <label for="email" class="log mainLogin">Email</label>
                <input type="text" name="email" class="log mainLogin" id="emailLogin">

                <label for="pw" class="log labeling mainLogin">Enter Pasword</label>
                <input type="password" name="password" class="log mainLogin" id="pwLogin">

                <button type="submit">Log-In</button>
            </form>
        </section>    
    </main>

    <script src="main.js"></script>
</body>
</html>