<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header>
        <h1>Bo-Bo Tea</h1>
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/menu">Menu</a></li>
            <li><a href="/rewards">Rewards</a></li>
            <li><a href="/logout">Log-In</a></li>
        </ul> 
    </header>

    <section id="leftColumn">
        <h2>My Drink in visual</h2>
    </section>
    
    <section id="rightColumn">
        <h3> My drink Combo</h3>
        <form action="/addToOrder" method="post">
        <section>
            <h5>Choice of Drink</h5>
            <div>
                <input type="radio" name="drink" id="">
                <label for="">Classic Milk Tea</label> 
            </div>
            <div>
                <input type="radio" name="drink" id="">
                <label for="">Oolong Tea</label> 
            </div>
            <div>
                <input type="radio" name="drink" id="">
                <label for="">Matcha</label> 
            </div>
            <div>
                <input type="radio" name="drink" id="">
                <label for="">Horchata</label> 
            </div>
            <div>
                <input type="radio" name="drink" id="">
                <label for="">Pina Colada</label> 
            </div>
            <div>
                <input type="radio" name="drink" id="">
                <label for="">Lemonade Tea</label> 
            </div>
            <div>
                <input type="radio" name="drink" id="">
                <label for="">Thai Tea</label> 
            </div>
            <div>
                <input type="radio" name="drink" id="">
                <label for="">Thai Tea</label> 
            </div>
        </section>

        <section>
            
            <h5>Toppings</h5>
            <div>
                <input type="checkbox" name="pearls" id="pearl">
                <label for="pearls">Pearls</label>
            </div>
            <div>
                <input type="checkbox" name="redBean" id="redBean">
                <label for="redBean">Red Bean</label>
            </div>   
            <div>
                <input type="checkbox" name="yogoPop" id="popYogo">
                <label for="yogoPop">Yogurt Popping</label>
            </div>     
            
            <div>
                <input type="checkbox" name="rbowPop" id="popRbow">
                <label for="rbowPop">Rainbow Popping</label>
            </div>
            
            <div>  
                <input type="checkbox" name="peachPop" id="popPeach">
            <label for="peachPop">Peach Popping</label>
            </div>
            
            <div>
                <input type="checkbox" name="popMango" id="popMango">
                <label for="popMango">Mango Popping</label>
            </div>
            
            <div>
                <input type="checkbox" name="popSwberry" id="popSwberry">
                <label for="popSwberry">Strawberry Popping</label>
            </div>
            
            <div>
                <input type="checkbox" name="jellyLychee" id="jellyLychee">
                <label for="jellyLychee">Lychee Jelly</label>
            </div>
            
            <div>
                <input type="checkbox" name="jellyALoe" id="jellyALoe">
                <label for="jellyALoe">Aloe Jelly</label>
            </div>
            
            <div>
                <input type="checkbox" name="jellyGrass" id="jellyGrass">
                <label for="jellyGrass">Grass Jelly</label>
            </div>
            
            <div>
                <input type="checkbox" name="jellyMango" id="jellyMango">
                <label for="jellyMango">Mango Jelly</label> 
            </div>
            <div>
                <input type="checkbox" name="jellyPine" id="jellyPine">
                <label for="jellyPine">Pineapple Jelly</label> 
            </div>
            <div>
                <input type="checkbox" name="jellyPassion" id="jellyPassion">
                <label for="jellyPassion">Passion Fruit Jelly</label> 
            </div>
            <div>
                <input type="checkbox" name="jellyCoffee" id="jellyCoffee">
                <label for="jellyCoffee">Coffee Jelly</label> 
            </div>
            
        </section>

        <section class="alchol">
            <h5>Booze/Mix</h5>
            <div>
                <input type="radio" name="booze" id="">
                <label for="">Soju Yakult Cocktail</label>
                <p>Korean yakult soju cocktail with a slash of Lemon/lime soda.</p>
            </div>
            <div>
                <input type="radio" name="booze" id="">
                <label for="">Kahlua Vietnamese Iced Coffee</label>
                <p>Kahlua Vietnamese Ice Coffee with milk cap.</p>
            </div>
            <div>
                <input type="radio" name="booze" id="">
                <label for="">Captain Taro</label>
                <p>Taro Milk Tea with Captain Morgan Spiced Rum</p>
            </div>
            <h5>More To COme!</h5>
        </section>
        <button type="submit" id="addOrder">Add to Order</button>
    </form>
    </section>

    <section>

    </section>
    <script src="main.js"></script>
</body>
</html>