<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/d60e865119.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header>
        <h1>Bo-Bo Tea</h1>
        <ul class="nav">
            <li><a href="/userMenu">Menu</a></li>
            <li><a href="/logout">Log-Out</a></li>
        </ul>  
    </header>

    <main class="mainProfile">
        <section id="profileImage"></section>
        <section id="profileInfo">
            <h3>User: <%= user.local.userName%></h3>
            <span>Name: <%= user.local.firstName%> <%= user.local.lastName%></span><br>
            <span>Email: <%= user.local.email%></span>   
        </section>
        <section id="profileRewards">
            <div class="checkBox stamp1"><i class="fa-solid fa-square-check"></i></div>
            <div class="checkBox stamp2"><i class="fa-solid fa-square-check"></i></div>
            <div class="checkBox stamp3"><i class="fa-solid fa-square-check"></i></div>
            <div class="checkBox stamp4"><i class="fa-solid fa-square-check"></i></div>
            <div class="checkBox stamp5"><i class="fa-solid fa-square-check"></i></div>
            <div class="checkBox stamp6"><i class="fa-solid fa-square-check"></i></div>
            <div class="checkBox stamp7"><i class="fa-solid fa-square-check"></i></div>
            <div class="checkBox stamp8"><i class="fa-solid fa-square-check"></i></div>
            <div class="checkBox stamp9"><i class="fa-solid fa-square-check"></i></div>
            <div class="checkBox stamp10"><i class="fa-solid fa-square-check"></i></div>
        </section>
    </main>

    
    <script src="main.js"></script>
</body>
</html>