* {
  box-sizing: border-box;
  /* border: solid 1px black; */
  font-family: "Poppins", sans-serif;
}

/* //////////////////////// */
/* Ctrl + f to find styles */
/* Opening Page*/
/* Menu */
/* Other */
/* Sign-in and Log-in */
/* Rewards */
/* Profile */
/* //////////////////////// */


/* ////////////////////// */
/* Opening Page */
/* ////////////////////// */

/* Also applied on akk other sites */
header {
  height: 10rem;
  width: 100%;
  padding: 0 10%;
}

.mainOpening {
  width: 80%;
  margin: 0 10%;
  height: 40rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.mainTag {
  width: 40%;
}

h2 {
  font-size: 4rem;
  font-weight: 600;
  margin: 0;
}

.mainLogin {
  /* display: block; */
  width: 100%;
  height: 1.5rem;
}

.frontLogin {
  width: 30%;
  height: 20rem;
  padding: 1.5rem 1% 0 3%;
  border-radius: 3rem;
  border: 3px solid #18638f;
}

.frontLogin span {
  font-size: .8rem;
}

.frontLogin button {
  width: 50%;
}



/* ////////////////////// */
/* Menu*/
/* ////////////////////// */

#leftColumn,
#rightColumn {
  width: 23%;
  height: 55rem;
  float: left;
}

#leftColumn {
  margin-left: 10%;
  background: beige;
}

#rightColumn {
  margin-right: 10%;
  padding: 0 0 0 1.5rem;
  background: lightgray;
}

h5 {
  width:100%;
  float:left;
  clear: both;
}

div {
  width: 50%;
  float: left;
}

.alchol p {
  font-size: .8rem;
  line-height: 1rem;
}

#addOrder {
  clear: both;
  width: 50%;
  margin: 10% 20%;
}


/* orderCart */

.orderCart {
  float: left;
  width: 20%;
  padding: 2rem 2rem;
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 3rem;
  position: sticky;
}

.orderCart section {
  margin: 0 0 2.5rem 0;
}

.orderCart span,
.orderCart p {
  margin: 0;
}

.orderCart span{
  font-size: .8rem;
  margin-top: .5rem;
}

.orderCart p{
  font-size: 1rem;
  font-weight: 700;
}

#orderComplete {
  width:100%;
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background: 0 0;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 16px;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap;
}
#orderComplete:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px,-4px);
}
#orderComplete:focus-visible{
      outline-offset: 1px;
  }


/* ////////////////////// */
/* Other */
/* ////////////////////// */
ul {
  padding: 0;
  width: 100%;
  float: left;
}

ul li {
  display: inline;
  list-style: none;
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 1rem;
  padding: 0.2rem 0;
  box-shadow: inset 0 0 0 0 #54b3d6;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

ul li:hover {
  color: white;
  list-style: none;
  box-shadow: inset 200px 0 0 0 #54b3d6;
}

ul li::after {
  list-style: none;
}

a {
  text-decoration: none;
  color: #212529;
}
/* ////////////////////// */
/*  Sign-in and Log-in */
/* ////////////////////// */

.signIn,
.signupText,
.or {
  height: 40rem;
  float: left;
}

.signIn {
  margin: 0 10%;
  width: 45%;
  padding: 2.5rem 1% 0 3%;
  border-radius: 3rem;
  border: 3px solid #18638f;
}

.signIn h3 {
  font-size: 3rem;
  margin: 0 0 1rem 0;
}

.signupText {
  width: 50%;
  height: 40rem;
  float: left;
  padding: 0 7.5%;
}

.signupText h4 {
  font-size: 2rem;
  margin: 0;
}

.signupText h4::before {
  content: "";
  width: 100%;
  color: #18638f;
  display: block;
}

.signupText {
  margin-right: 10%;
  padding: 2% 2.5%;
  border-radius: 2rem;
  width: 25%;
  border: 3px solid #18638f;
}

.logIn span {
  font-size: 0.7rem;
  margin: 0;
}
.logIn h3 {
  font-size: 2.5rem;
  margin: 0 0 1.2rem 0;
}

.logIn .log {
  width: 100%;
}

.labeling {
  display: block;
  margin-top: 0.5rem;
}

.or {
  width: 10%;
  text-align: center;
  padding-top: 0.4rem;
}

.formSignup {
  width: 50%;
  height: 40rem;
  float: left;
}
.join {
  float: none;
  width: 100%;
}

.formSignup input,
.logIn input,
.mainLogin input {
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 3px solid #ced4da;
  appearance: none;
  border-radius: 8px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button {
  text-align: center;
  margin: 1rem 0;
  font-weight: 500;
  width: 35%;
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background: 0 0;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 16px;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap;
}
button:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px,-4px);
}
button:focus-visible{
  outline-offset: 1px;
}

/* /////////////////////// */
/* Rewards */
/* /////////////////////// */

.reward {
  width: 25%;
  height: 6rem;
  margin: 1rem 10% 1rem 10%;
  border-radius: 1rem;
  border: 1px solid #18638f;
  padding: 1%;
  float: left;
}

.reward h4 {
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
}

/* //////////////// */
/* Profile */
/* //////////////// */

.mainProfile {
    width: 80%;
    height: 40rem;
    margin: 0 10%;
}

#profileImage {
    height: 20rem;
    width: 25%;
    margin: 5rem 5rem 0 0;
    float: left;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#profileInfo {
    height: 20rem;
    width: 30%;
    margin: 5rem 5rem 0 0;
    float: left;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#profileRewards {
    width: 25%;
    height: 50rem;
    margin: 5rem 0 0 0;
    float: left;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#profileFavBev {
    width: 100%;
    height: 10rem;
    margin-top: 5rem;
    float: left;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.checkBox {
  width: 50%;
  height: 10rem;
  transition: .5s;
  box-shadow: 0 0px 0px rgba(0,0,0,0.25), 0 0px 0px rgba(0,0,0,0.22);
}
.checkBox:hover {
  transition: .5s;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.checkBox .fa-square-check {
  font-size: 8rem;
}

/* //////////////// */
/* //Purchase pages */
/* //////////////// */

.address {
  width: 80%;
  margin: 0 10%;
  display: flex;
  flex-direction:row;
  justify-content: left;
}

.addressInput {
  width: 40%;
}
.addressInput input{
  width: 80%;
}

.address .orderCart {
  width: 40%;
}
.address .orderCart {
  width: 40%;
}